body{
	background:none;
}
.sec-from .centro{
	max-width:70%;
	margin: 0 auto;
	display:table;
}
.tudo{
	text-align:center;
	color:#FF6600;

}
.reduz{
	text-align:center;
}
.text{
	
	border:1px solid;
	background:#white;
	border-radius:0px;
	width:230px;
	height:40px;
	padding-left:10px;
	/*margin-bottom:5%;*/
	color:#9933FF;
	/*background-color: rgba(123, 123, 123, 0.5); deixar fundo de onde digita transparente*/

}
.cent{
	text-align:center;
	padding:25px;
}
.botao{
	border:none;
	background:#4bb6e5;
	color:white;
	border-radius:5px;
	/*float:right;*/
	margin-top:10px;
	padding: 10px 20px;
	font-size:15px;
}
.botao:hover{
	background-color:#0066FF;
	cursor:pointer;
}